body{
    display: flex;
    justify-content: center;
    background-color: black;
    background: url(calci.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: rgb(4, 48, 85);
}
.overall{
    text-align: center;
    /* background-color: aqua; */
    height: 80vh;
    width: 30%;
    margin-top: 100px;
}
#result{
    /* margin-left: 60px; */
    border: 2px solid;
    background-color: rgb(250, 250, 250);
    height: 40px;
    border-radius: 5px;
    font-size: 30px;
    width: 80%;
    
}
#n1{
    border: 5px solid rgb(3, 35, 82);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 20px;
    
}
    

.numbers{
    margin-top: 20px;
}